.array-field-template {
  &-add-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;

    > div {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    .array-field-template-item {
      display: flex;
      align-items: flex-start;

      > div:not(:last-child) {
        margin-left: 10px;
      }

      &-children {
        flex-grow: 1;
      }

      &-buttons {
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
        width: 60px;

        > button {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  i {
    padding: 0;
    margin: 0;
  }
}
